<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Earna - Consulting Business Template">

    <!-- ========== Page Title ========== -->
    <title>Bollify - Consulting Agency</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <link href="assets/css/main.css" rel="stylesheet" />
    <link href="assets/css/tagify.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css">
    <!-- ========== End Stylesheet ========== -->
</head>


<body style="padding-top:135px">

    <!-- Start Preloader 
        ============================================= -->

    <!-- End Preloader -->

    <!-- Start Header Top 
        ============================================= -->

    <!-- End Preloader -->

    <!-- Header 
    ============================================= -->
    <header id="home">
        <div class="container box-nav">
            <div class="row">
                <!-- Start Navigation -->
                <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                    <!-- Start Top Search -->
                    <div class="top-search">
                        <div class="container">
                            <div class="input-group d-flex flex-row">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <form action="/experts" method="POST">
                                    <input type="text" name="consultantType" class="form-control" placeholder="expert in...">
                                    <input type="text" name="location" class="form-control" placeholder="Location">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form> <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Top Search -->
                    <div class="container nav-container">

                        <!-- Start Atribute Navigation -->
                        <div class="attr-nav">
                            <ul>
                                <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                <li class="side-menu">
                                    <a href="#">
                                        <span class="bar-1"></span>
                                        <span class="bar-2"></span>
                                        <span class="bar-3"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Atribute Navigation -->

                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                            <a class="navbar-brand" href="/">
                                <img src="/assets/img/logo.png" class="logo" alt="Logo">
                            </a>
                        </div>
                        <!-- End Header Navigation -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="">
                                    <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                                </li>

                                <li class="">
                                    <a href="/experts" class="dropdown-toggle" data-toggle="dropdown">Experts</a>
                                </li>
                                <li class="">
                                    <a href="contact.html" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>

                    <!-- Start Side Menu -->
                    <div class="side">
                        <a href="#" class="close-side"><i class="icon_close"></i></a>
                        <div class="widget">
                            <img style="width:80px; height:100px" src="/assets/img/logo.png" alt="Logo">
                            <p>
                                Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                            </p>
                        </div>
                        <div class="widget address">
                            <div>
                                <ul>
                                    <li>
                                        <div class="content">
                                            <p>Address</p>
                                            <strong>California, TX 70240</strong>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <p>Email</p>
                                            <strong>support@solvent.com</strong>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <p>Contact</p>
                                            <strong>+44-20-7328-4499</strong>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget newsletter">
                            <h4 class="title">Get Subscribed!</h4>
                            <form action="#">
                                <div class="input-group stylish-input-group">
                                    <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                    <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="arrow_right"></i>
                                    </button>  
                                </span>
                                </div>
                            </form>
                        </div>
                        <div class="widget social">
                            <ul class="link">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Side Menu -->
                </nav>
                <!-- End Navigation -->
            </div>
        </div>

    </header>

    <!-- Start Breadcrumb 
        ============================================= -->
    <% if(typeof error!=='undefined'){%>
        <% if(error || errorType){%>
            <div class="row" id="errorMessage">
                <div class="col-7 text-right">
                    <div class="d-flex flex-row justify-content-end" style="color:red;">
                        <b><%= errorType %>: </b>
                        <b><%= error %></b>
                    </div>
                </div>
                <dic class="col-5 text-left">
                    <button id="hideErrormessage"><b>X</b></button>
                </dic>
            </div>
            <% } %>
                <% } %>
                    <div class="login-body-flex">
                        <section class="form_container">

                            <h1 class="form_container__heading">
                                Welcome,
                                <%= user.name %>
                            </h1>
                            <form id="form" method="POST" action="/" class="form_container__form" enctype="multipart/form-data">
                                <div class="form_container__form__input_field">
                                    <textarea name="description" id="doctor_description" cols="30" rows="4" placeholder="Describe yourself" required></textarea>
                                </div>
                                <div class="form_container__form__input_field">
                                    <label style="margin:0" for="display_picture">Upload anything to prove your legitimacy</label>
                                    <input style="margin-top:-25px" type="file" name="proof" accept="image/*" id="display_picture" class="display_picture_input" required>
                                </div>
                                <div class="form_container__form__input_field">
                                    <label for="cateogry">Cateogry</label>
                                    <select required name="cateogry" id="cateogry" required>
                    </select>
                                </div>

                                <div class="form_container__form__input_field">
                                    <label for="specializations">Specializations</label>
                                    <input style="margin-top:-25px" type="text" name="specializations" class="specializations_input" placeholder="Enter Specializaion" value="" required>
                                </div>
                                <div class="form_container__form__input_field">
                                    <label for="qualifications">Qualifications</label>
                                    <input style="margin-top:-25px" type="text" name="qualifications" class="qualifications_input" placeholder="Enter your qualifications" value="" required>
                                </div>
                                <div class="form_container__form__input_field">
                                    <label for="achievements">Achievements</label>
                                    <input style="margin-top:-25px" type="text" name="achievements" class="achievements_input" placeholder="Enter your achievements" value="" required>
                                </div>
                                <div class="form_container__form__input_field">
                                    <label for="experience">Years Of Experience</label>
                                    <input style="margin-top:-25px" type="number" name="experience" class="form_container__form__phone_number" placeholder="Enter your years of experience" value="" required>
                                </div>
                                <div class="form_container__form__input_field">
                                    <label for="awards">Awards (if any)</label>
                                    <input style="margin-top:-25px" type="text" name="awards" class="awards_input" placeholder="Enter Awards (if any)" value="">
                                </div>

                                <div class="form_container__form__input_field">
                                    <label for="averageFees">Average Fees</label>
                                    <input style="margin-top:-25px" type="number" name="averageFees" class="form_container__form__phone_number" placeholder="Enter your average fees" value="" required>
                                </div>
                                <div class="form_container__form__input_field">
                                    <label for="hospitalList">keywords related to your profession</label>
                                    <input style="margin-top:-25px" type="text" name="keywords" class="hospital_list_input" placeholder="Enter keywords" value="" required>
                                </div>
                                <button type="submit" id="submit" class="form_container__form__submit">
            <span class="form_container__form__submit__text">Submit</span>
            <span class="form_container__form__submit__icon"><i class="fas fa-arrow-right"></i></span>
        </button>
                            </form>
                        </section>

                    </div>
                    <!-- End Footer -->

                    <!-- jQuery Frameworks
        ============================================= -->
                    <script src="assets/js/jquery-3.6.0.min.js"></script>
                    <script src="assets/js/popper.min.js"></script>
                    <script src="assets/js/bootstrap.min.js"></script>
                    <script src="assets/js/jquery.appear.js"></script>
                    <script src="assets/js/jquery.easing.min.js"></script>
                    <script src="assets/js/jquery.magnific-popup.min.js"></script>
                    <script src="assets/js/modernizr.custom.13711.js"></script>
                    <script src="assets/js/owl.carousel.min.js"></script>
                    <script src="assets/js/wow.min.js"></script>
                    <script src="assets/js/progress-bar.min.js"></script>
                    <script src="assets/js/isotope.pkgd.min.js"></script>
                    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
                    <script src="assets/js/count-to.js"></script>
                    <script src="assets/js/YTPlayer.min.js"></script>
                    <script src="assets/js/bootsnav.js"></script>
                    <script src="assets/js/main.js"></script>
                    <script src="assets/js/tagify.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>

                    <!--<script src="./../tagify.js"></script>-->
                    <script>
                        if (!sessionStorage.getItem('reloaded')) {
                            window.location.reload();
                            sessionStorage.setItem('reloaded', 'true');
                        } else {

                        }
                        async function fillOptions() {
                            fetch('/getCateogries')
                                .then((res) => {
                                    res.json()
                                        .then((data) => {
                                            var optionsArray = data.categories;
                                            console.log('cateogries: ', data.categories);
                                            console.log('type: ', typeof optionsArray);
                                            console.log('first: ', optionsArray[0])
                                            console.log('length: ', optionsArray.length)
                                            for (let i = 0; i < optionsArray.length; i++) {
                                                var opt = document.createElement("option");
                                                opt.value = optionsArray[i];
                                                opt.innerHTML = optionsArray[i];
                                                document.getElementById('cateogry').appendChild(opt);
                                            }
                                        })
                                })
                        }
                        fillOptions();

                        document.getElementById("hideErrormessage").addEventListener("click", function() {
                            document.getElementById("errorMessage").style.display = "none";
                        })
                        var specializationsInput = document.querySelector('input[name=specializations]');
                        var specializationsTagify = new Tagify(specializationsInput);

                        const keywordsInput = document.querySelector('.hospital_list_input');
                        const keywordsInputTagify = new Tagify(keywordsInput);

                        const achievements = document.querySelector('.achievements_input');
                        const achievmentsTagify = new Tagify(achievements);

                        const qualifications = document.querySelector('.qualifications_input');
                        const qualificationsTagify = new Tagify(qualifications);

                        const awards = document.querySelector('.awards_input');
                        const awardsTagify = new Tagify(awards);




                        function addMoreServices() {
                            console.log(document.getElementById('servicesBox').childNodes)
                            document.getElementById('servicesBox').appendChild(document.getElementById('servicesBox').childNodes[1].childNodes[1])
                        }

                        function func(elem) {
                            var push = document.createElement('div');
                            push.innerText = "jhdjha";
                            elem.appendChild(push);
                        }
                    </script>
</body>

</html>